bcrypt==4.0.1
Flask==3.0.1
Flask-Session==0.8.0
dash==2.14.2
dash_bootstrap_components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
gunicorn==21.2.0
pandas==1.5.3
dash-tools==1.12.0
dash_auth==2.3.0
